<launch>
  <rosparam command="load"
      file="$(find differential_drive)/launch/$(env ROBOT)_global.yaml">
  </rosparam>

  <node pkg="differential_drive" type="pid_velocity" name="lpid_velocity">
    <remap from="wheel" to="lwheel"/>
    <remap from="motor_cmd" to="lmotor_cmd"/>
    <remap from="wheel_vtarget" to="lwheel_vtarget"/>
    <remap from="wheel_vel" to="lwheel_vel"/>
    <rosparam command="load"
        file="$(find differential_drive)/launch/$(env ROBOT)_local.yaml">
    </rosparam>
  </node>
  <node pkg="differential_drive" type="pid_velocity" name="rpid_velocity">
    <remap from="wheel" to="rwheel"/>
    <remap from="motor_cmd" to="rmotor_cmd"/>
    <remap from="wheel_vtarget" to="rwheel_vtarget"/>
    <remap from="wheel_vel" to="rwheel_vel"/>
    <rosparam command="load"
        file="$(find differential_drive)/launch/$(env ROBOT)_local.yaml">
    </rosparam>
  </node>

  <node pkg="differential_drive" type="twist_to_motors.py"
      name="twist_to_motors" output="screen">
    <remap from="twist" to="cmd_vel"/>
  </node>
</launch>
